.name {
    color: chartreuse;
    font-style: inherit;
    font-size: 200px;
}    
.column {
    width: 400px;
    float: right;
}.sidebar {
    width: 50%;
    float: left;
    background-color: gray;
}