div {
    border: 2px lightskyblue;
    padding: 6px;
    margin: 0px;
    float: left;
}
.name {
    color: chartreuse;
    font-style: inherit;
    font-size: 50px;
}    
.column {
    width: 400px;
    float: right;
}.sidebar {
    width: 50%;
    float: left;
    background-color: gray;
}